<body style="background: linear-gradient(90deg, rgb(238, 85, 205), rgb(98, 200, 218))";>

{% include './Header.html' %}
<br>
<div class="modal-dialog">

    <form method="POST">
        {% if form.error %}
            <p style="color:red"> {{ form.messege }} </p>
        {% else %}
            <p style="color:green;">  {{ form.messege }} </p>
        {% endif %}

        <div class="modal-content" style=" width: 500px;background-color: rgba(255, 255, 255);">
            <div class="modal-header text-center">
                <h2 class="modal-title" style="padding-left: 125px;"> Forget Password </h2>
            </div>

            <div class="modal-body">
                <div class="form-group row">

                    <label class="col-lg-3 form-control-label">Login Id<span style="color: red;">*</span></label>
                    <div class="col-lg-8">
                        <input class="form-control" name="login_id" value="{{ form.login_id }}" placeholder="Enter your Email Id">
                        <span style="color:red;">{{ form.inputError.login_id }}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3"></div>

                    <div class="col-lg-5">
                        <button type="submit" class="btn btn-success">Send My Password</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>






{% include './Footer.html' %}