

   
<body style="background: linear-gradient(5deg, rgb(238, 85, 205), rgb(98, 200, 218));"></body>

        {% include  "./Header.html"%}
    <div class="container">   
        <div class="row">
            <div class="col-lg-1"></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content" style=" width: 500px;background-color: rgba(255, 255, 255);" >
                <div class="modal-header text-center">
                    <h4 class="modal-title " style="font-family: bold; font-size: xx-large;margin-left: 172px;">Marksheet</h4>
                </div>
                <form class="form" method="POST">
                        {% if form.error  %}
                        <p style="color:red ; text-align: center;"> {{form.messege}}</p>
                        {% else %}
                        <p style="color:green ; text-align: center;"> {{form.messege}}</p>
                        {% endif %}
                    <input type="hidden" name="id" value="{{form.id}}">
                    <div class="modal-body">
                        <div class="form-group row">
                                <div class="col-lg-1 "></div>
                            <label class="col-lg-3 form-control-label">Roll No.<span style="color: red;">*</span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="rollNumber" value="{{form.rollNumber}}" 
                                    placeholder="Enter Your Roll Number">
                                <span style="color: red;"> {{form.inputError.rollNumber}} </span>
                            </div>
                        </div> 
                        <div class="form-group row">
                                <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Name<span style="color: red;">*</span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="name" value="{{form.name}}"
                                    placeholder="Enter Your Name">
                                <span style="color: red;"> {{form.inputError.name}} </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Physics<span style="color: red;">*</span> </label>
                            <div class="col-lg-8">
                                <input class="form-control" name="physics" value="{{form.physics}}" type="number" id="quantity" min="0" max="100"
                                    placeholder="Enter Your Physics Marks">
                                <span style="color: red;"> {{form.inputError.physics}} </span>
        
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Chemistry<span style="color:red;">*</span></label>
                            <div class="col-lg-8">
                            <input class="form-control" type="number" id="quantity" name="chemistry" value="{{ form.chemistry }}" min="0" max="100"
                                placeholder="Enter Your Chemistry Marks">
                                <span style="color:red">{{ form.inputError.chemistry }}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-3 form-control-label">Maths<span style="color:red">*</span></label>
                            <div class="col-lg-8">
                                <input class="form-control" type="number" id="quantity" name="maths" value="{{ form.maths }}" min="0" max="100"
                                placeholder="Enter Your Maths Marks">
                                <span style="color:red;">{{ form.inputError.maths }}</span>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-success">Save
                                       
                                    </button>
                                </div>
                                <div class="col-md-2">
                                    <a href="" class="btn btn-primary">Reset
                                       </a>
                                    
                                </div>
                            </div>
                            </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        
        </div>
    </div>    
    </div>     
        </body>
        {% include  "./Footer.html"%}