
<body style="background: linear-gradient(5deg, rgb(238, 85, 205), rgb(98, 200, 218));">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include  "./Header.html"%}
    <div class="modal-dialog">
    <br>
   
    
        <div class="modal-content" style="background-color:rgba(255, 255, 255);">
            <div class="modal-header text-center ">
                <h3  class="modal-title " style="font-family: bold; font-size: xx-large;margin-left: 112px;">Role Information</h3>
            </div>
    
            <form method="POST">
                    {% if form.error  %}
                    <p style="color:red; text-align: center;"> {{form.messege}}</p>
                    {% else %}
                    <p style="color:green ; text-align: center;"> {{form.messege}}</p>
                    {% endif %}
                <input type="hidden" name="id" value="{{form.id}}">
                <div class="modal-body">
                    
                <div class="col-lg-4"></div>
                    <div class="form-group row">
                            <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label">Role Name<span style="color: red;">*</span> </label>
                        <div class="col-lg-8">
                            <input class="form-control" name="name" value="{{form.name}}"placeholder="Enter Role Name">
                            <span style="color: red;"> {{form.inputError.name}} </span>
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="col-lg-1"></div>
                        <label class="col-lg-3 form-control-label">Description<span style="color: red;">*</span> </label>
                        <div class="col-lg-8">
                            <input class="form-control" name="description" value="{{form.description}}" placeholder="Enter Description Here ">
                            <span style="color: red;"> {{form.inputError.description}} </span>
    
                        </div>
                    </div>
    
                    <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-success">Save
                                   
                                </button>
                            </div>
                            <div class="col-md-2">
                                <a href="" class="btn btn-primary">Reset
                                   
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    </div>
    
    </body>
    {% include  "./Footer.html"%}